<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <style>
            body {
                direction: rtl;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
            }
            .container {
                width: calc(100% - 100px);
                max-width: 1200px;
                margin: auto;
                text-align: center;
            }
            table {
                border-collapse: collapse;
                width: 100%;
                margin-top: 2em;
            }
            table, th, td {
                border: 1px solid black;
                padding: 4px;
            }
            th {
                background-color: #727fc9;
                font-size: 1.25rem;
                color: white;
            }
            .empty_cell {
                width: 75px;
            }
        </style>
    </head>
    <body>
        <%- include('header', { title: 'יומן נוכחות' }); %>
        <div class="container">
            <% if (group.klass) { %>
                <h2>כיתה: <%= group.klass.name %></h2>
            <% } %>
            <% if (group.teacher) { %>
                <h2>מורה: <%= group.teacher.name %></h2>
            <% } %>
            <% if (group.lesson) { %>
                <h2>שיעור: <%= group.lesson.name %></h2>
            <% } %>

            <table>
            <% if (students.length > 0) { %>
                <tr>
                    <th>ת.ז.</th>
                    <th>שם</th>
                    <% for(var i = 0; i < lessonCount; i++) {%>
                        <th class="empty_cell">&nbsp;</th>
                    <% } %>
                </tr>
                <% students.forEach(student => {%>
                    <tr>
                        <td><%= student.tz %></td>
                        <td><%= student.name %></td>
                        <% for(var i = 0; i < lessonCount; i++) {%>
                            <td class="empty_cell">&nbsp;</td>
                        <% } %>
                    </tr>
                <%  });%>
            <% }%>
            </table>
        </div>
    </body>
</html>
